<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.min.css " />
  </head>
  <body>
    <footer>
      <div class="container footer__container">
        <div class="footer__newsletter newsletter">
          <img
            class="newsletter__img"
            src="../images/components/footer/newsletter-1.svg"
            alt="Corner-shape"
          />
          <div class="newsletter__content">
            <h4 class="newsletter__content__subtitle">NEWSLETTER</h4>
            <h3 class="newsletter__content__title">
              Subscribe our News Letter to get Latest Updates.
            </h3>
          </div>
          <div class="newsletter__form">
            <input type="email" placeholder="Paresh@Pixeto.com" />
          </div>
        </div>
        <div class="footer__top">
          <img
            class="footer__shape"
            src="../images/components/footer/random-shapes.svg"
            alt="Corner shape"
          />
          <div class="footer__contact">
            <h2 class="footer__contact__title">Let's make something special</h2>
            <h3 class="footer__contact__subtitle">Let's talk!🤙</h3>
            <p class="footer__contact__number">020 7993 2905</p>
            <a
              onclick="location.href='mailto:hi@finsweet.com';"
              class="footer__contact__email"
              >hi@finsweet.com</a
            >
            <div class="line"></div>
          </div>
          <div class="footer__nav">
            <div class="footer__nav__col">
              <a class="footer__nav__link" href="../index.html">Home</a>
              <a class="footer__nav__link" href="service.html">Service</a>
              <a class="footer__nav__link" href="company.html">Company</a>
              <a class="footer__nav__link" href="career.html">Career</a>
              <a class="footer__nav__link" href="news.html">News</a>
            </div>
            <div class="footer__nav__col">
              <a class="footer__nav__link" href="./service.html">Service</a>
              <a class="footer__nav__service" href="service.html#tech-support"
                >Technical support</a
              >
              <a class="footer__nav__service" href="./service.html#testing"
                >Testing</a
              >
              <a class="footer__nav__service" href="./service.html#development"
                >Development</a
              >
              <a class="footer__nav__service" href="./service.html#aws-azure"
                >AWS/Azure</a
              >
              <a class="footer__nav__service" href="./service.html#consulting"
                >Consulting</a
              >
              <a class="footer__nav__service" href="./service.html#info-tech"
                >Information Technology</a
              >
            </div>
            <div class="footer__nav__col">
              <a class="footer__nav__link" href="./company.html">Resources</a>
              <a class="footer__nav__service" href="./about.html">About Us</a>
              <a class="footer__nav__service" href="../index.html#testimonial"
                >Testimonial</a
              >
              <a class="footer__nav__service" href="./privacy-policy.html"
                >Privacy Policy</a
              >
              <a
                class="footer__nav__service"
                href="./privacy-policy.html#terms-of-use"
                >Terms of use</a
              >
              <a class="footer__nav__service" href="./blog.html">Blog</a>
            </div>
          </div>
        </div>
        <div class="footer__top__bottom">
          <a
            href="https://goo.gl/maps/E8pWfm5G8y46jq748"
            class="footer__contact__address"
          >
            DLF Cybercity, Bhubaneswar, India, &52050
          </a>
          <a class="contact__link" href="contact.html">
            <img
              src="../images/components/footer/random-shapes-2.svg"
              alt="Link Shape"
            />
            <p>Contact Us</p>
            <img src="../images/components/footer/arrow.svg" alt="Arrow" />
          </a>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container footer__container__two">
          <div class="footer__bottom__left">
            <img src="../images/components/footer/footer-logo.svg" alt="Logo" />
            <p class="footer__bottom__copyright">©2021 Finsweet</p>
          </div>
          <div class="footer__bottom__right">
            <a href="https://www.facebook.com/">
              <img
                src="../images/components/footer/facebook.svg"
                alt="Facebook"
              />
            </a>
            <a href="https://www.twitter.com/">
              <img src="../images/components/footer/twitter.svg" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/">
              <img
                src="../images/components/footer/instagram.svg"
                alt="Instagram"
              />
            </a>
            <a href="https://www.linkedin.com/">
              <img src="../images/components/footer/linked.svg" alt="Linkedin" />
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
